/* Struttura base del body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Imposta l'altezza della pagina per occupare tutto lo schermo */
}

/* Contenitore principale */
.main-container {
  flex: 1; /* Permette al componente di occupare tutto lo spazio disponibile */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.main{
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/* Stile per il titolo */
.titolo {
  position: absolute; /* Posizionamento assoluto */
  top: 10px; /* Spazio dal bordo superiore */
  left: 20px; /* Spazio dal bordo destro */
  margin: 0;
  font-size: 30px; /* Dimensione del testo */
  color: #333;
}
