/* Rimuovi margini e imposta stile di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
   width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Stile per il titolo (header) */
  .header {
    width: 100%; /* Larghezza piena */
    background-color: #b33; /* Colore di sfondo rosso scuro */
    padding: 10px 0; /* Spaziatura sopra e sotto */
    text-align: center; /* Testo centrato */
    border-bottom: 2px solid #8c2626; /* Linea di separazione */
    flex-shrink: 0; /* Impedisce il ridimensionamento del titolo */
  }
  
  .titolo {
    margin: 0;
    font-size: 30px;
    color: white;
  }
  
  /* Contenitore principale */
  .main-container {
    flex: 1; /* Occupa tutto lo spazio disponibile */
    width: 100%; /* Larghezza completa */
    background-color: #f5f5f5; /* Colore di sfondo */
    display: flex;
    justify-content: center; /* Centrare il contenuto orizzontalmente */
    align-items: center; /* Centrare il contenuto verticalmente */
  }
  