
/* Stile per il contenitore interno */
.game-rectangle {
  width: 70%; /* Occupa il 70% della larghezza */
  height: 70%; /* Occupa il 70% dell'altezza */
  background-color: #e0e0e0; /* Colore di sfondo */

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombra */
  border-radius: 8px; /* Angoli arrotondati */
  display: grid; /* Attiva il Grid Layout */

  gap: 10px; /* Spaziatura tra le celle */
  background-color: lightgray; /* Sfondo per il contenitore */
  padding: 10px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr; /* Due colonne di dimensioni uguali */
  grid-template-rows: 1fr 1fr; /* Due righe di dimensioni uguali */
  gap: 10px; /* Spazio tra le caselle */

}


/* Stile per la Board */
.game-board {

  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  flex: 1;
}
#gameBoardDiv{
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.grid-item {
  display: flex;
  justify-content: center; /* Centra il contenuto orizzontalmente */
  align-items: center; /* Centra il contenuto verticalmente */
  color: navy;
  font-size: 10px;
  font-weight: bold;

  /* Mantieni le dimensioni fisse */
  width: 100%;
  height: 100%;

  /* Wrapping del testo */
  overflow: hidden; /* Nascondi solo lo spazio in eccesso */
  white-space: normal; /* Permette il testo a capo */
  word-wrap: break-word; /* Spezza le parole troppo lunghe */
  text-align: center; /* Allinea il testo al centro (opzionale) */
}

.player-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Due colonne uguali */
  grid-template-rows: 1fr 1fr 1fr; /* Tre righe uguali */
  gap: 10px; /* Spaziatura tra le celle */

  /* Altezza dinamica */
  background-color: lightgray; /* Sfondo della griglia */
  padding: 10px;
  box-sizing: border-box;
}

/* Elementi della griglia */
.player {
  display: flex;
  justify-content:space-around; /* Centra il contenuto orizzontalmente */
  align-items:center; /* Centra il contenuto verticalmente */
  color: white;
  border: 1px solid black; /* Aggiunge un bordo nero di 1px di spessore */
  font-weight: bold;
}

.propieta{
  display: flex;
  justify-content:space-around; /* Centra il contenuto orizzontalmente */
  align-items:center; /* Centra il contenuto verticalmente */
  color: white;
  border: 1px solid black; /* Aggiunge un bordo nero di 1px di spessore */
  font-weight: bold;
}

.chatFatherBtnDiv{
  display: flex;
  flex-direction: row;
  justify-content:space-around; /* Centra il contenuto orizzontalmente */
  align-items:center; /* Centra il contenuto verticalmente */
  gap: 10px;
  margin-top: 10px;
}
.chatFatherDiv{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  margin-bottom: 10px;

}

.actionDiv{
  display: flex;        /* Attiva il layout Flexbox */
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: center;   /* Centra gli elementi orizzontalmente */
    gap: 10px;
}

.player:nth-child(1) { background-color: green; }
.player:nth-child(2) { background-color: yellow; }
.player:nth-child(3) { background-color: blue; }
.player:nth-child(4) { background-color: red; }
.player:nth-child(5) { background-color: purple; }
.player:nth-child(6) { background-color: orange; }

.grid-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  background-color: green;
}
.grid-item:nth-child(2) { background-color: yellow; }
.grid-item:nth-child(3) { background-color: blue; }
.grid-item:nth-child(4) { background-color: red; }


.shimmer-effect {
  background: linear-gradient(
          90deg,
          #f0f0f0 25%,
          #e0e0e0 50%,
          #f0f0f0 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  height: 20px;
  width: 200px;
  border-radius: 4px;
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

.chat-window {
  width: 420px;
  height: 120px;
  resize: none; /* Disabilita la possibilità di ridimensionare */
  overflow-y: auto; /* Scroll se i messaggi sono troppi */
  font-family: monospace;
  background-color: #f1f1f1;
  padding: 10px;
}
